body{
  background-color: rgb(211, 232, 233);
 
}

.main-container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

 
}
.center-container{

 
  height:max-content;
  width: 700px;
  justify-content: center;
  background: linear-gradient(to bottom right,rgb(86, 154, 179) ,rgb(225, 243, 244) );
  /* background-color: rgb(220, 233, 245); */
  text-align: center;
  border-radius: 5%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.app-heading{
  margin-top: 30px;
  padding: 4px;
  font-family: cursive;
  text-transform: uppercase;
}



.inputContainer{
  margin-top: 30px;
 
}

.Input-box{
  margin-right: 10px;
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border:1px solid black;
  padding-left: 10px;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
.Addbtn{
    width:40px;
  height:40px;
 font-size: 30px;
  border-radius: 50%;
}
.Addbtn:hover{ 
  background: linear-gradient(to bottom right,rgb(12, 95, 20) ,rgb(143, 232, 167) );
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.listContainer{
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  place-items: center;
  width: 700px;
}

.list-item{
  list-style-type: none;
  border:2px solid rgb(61, 59, 59);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding:3px;
  padding-left: 5px;
  border-radius: 5px; 
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
.icons{
  position: absolute;
  right: 10px;
}
.icons i{
  margin: 4px;
  font-size: large;
  cursor: pointer;
  transition: 0.1s;   
}
.icons i:hover{
  transform: scale(1.2);  
}
.icon-delete:hover{
  color: red;
}

